* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}

body {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: indigo;
    font-size: 3em;
}

li {
    list-style: disc;
}

.foto {
    text-align: center;
}

.recipe {
    margin-left: 1em;
}

.index {
    text-align: center;
}